<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/urls">My URLs</a>
      <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      <a class="nav-item nav-link" href="/register">Register Account</a>
    </div>
    <% if (!username) { %>
    <form class="form-inline row" action="/login" method="POST">
      <div class="form-group">
      <input type="text" name="username" class="form-control mx-sm-3" id="username" placeholder="Username">
      <input type="submit" name="username" class="col-sm0-2" value="Login">
      </div>
    </form>
    <% }; %>
    <% if (username) { %>
      <form class="form-inline" action="/logout" method="POST">
        <div class="form-group">
          <p name="loginMessage">Logged in as <%= username[0] %>!</p>
          <input type="submit" name="username" id="username" value="Logout">
        </div>
      </form>
      <% }; %>
  </div>
  </nav>
</header>